body {
  background-color: Lavender;
}

.new_song_body {
  background-image: url("cassette.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.new_song_form {
  display: flex;
  justify-content: center;
  font-family: 'Play', sans-serif;
}

.title {
}

.songs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100;
  grid-gap: 3pxs;
  justify-items: center;
}

.song {
  background-color: LightSlateGray;
  height: 250px;
  width:  200px;
  padding: 20px;
  margin: 20px;
  border-radius: 10%;
}

.song img {
  border-radius: 50%;
}
